$orange-main: #FF5A00;
$orange-hover: #FF7A33;
$orange-active: #B33E00;
$bg: #212121;
$white: #FCFCFC;
$white-additional: #DDDDDD;
$yellow: #FF9900;
$gray-1: #A7A7A7;
$gray-2: #E4E4E4;
$gray-3: #C1C1C1;
$gray-4: #8E8E8E;